body
{
	font-family: Arial;
	text-align: center;
	font-size: 12px;
}


.cointer{
 width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}


.cabecera{
	width: 100%;
 max-width: 1200px;
 margin: 0 auto;
}


.cabecera h2{
	font-size: 14px;
}